<div class="landing-page">
  <div class="wrapper background-blue">
    <div class="header header-filter">
      <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1 class="title">你与牛人之间只差这最后一课</h1>
          <h4 class="slogan">认知是人与人之间唯一的门槛，但人人都能通过掌握认知学习法完成认知升级</h4>
          <br/>
          <%= link_to "/", class: "btn btn-danger btn-lg btn-round btn-raised" do %>

          <% end %>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="section text-center section-head">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title">不仅要「得到」，还要「做到」</h2>
            <h5 class="description">以认知科学原理为基础，我们打造了科学高效的认知学习法
              <br>帮助人们快速提升学习效率，完成认知升级
              <br>同时，我们以认知学习法重塑了职业技能教育
              <br>不仅要「得到」，还要让你快速从零到「做到」
              <br>
            </h5>
          </div>
        </div>
      </div>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2" id="progresses">

              <div class="bar-wrapper">
                <span class="progress-text">
                  平面设计
                </span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"></span>
                  </div>
                </div>
              </div>

              <div class="bar-wrapper">
                <span class="progress-text">
                  营销策划
                </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="10" aria-valuemax="100">
                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"></span>
                  </div>
                </div>
              </div>

              <div class="bar-wrapper">
                <span class="progress-text">
                  写作
                </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100">
                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="71%"></span>
                  </div>
                </div>
              </div>

              <div class="bar-wrapper">
                <span class="progress-text">
                  摄影
                </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">
                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="68%"></span>
                  </div>
                </div>
              </div>

              <div class="bar-wrapper">
                <span class="progress-text">
                  手绘
                </span>
                <div class="progress">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="section section-features">
          <div class="container">
            <div class="row">

              <div class="col-md-4 col-md-offset-1">
                <div class="section-description">
                  <h2 class="title">手把手极简教程</h2>
                  <h5 class="description">以「做到」为原则的教程体系，第一件事就是输出完整作品。
                    <br><br>传统的教程一开始就教你基础理论和原理，但通常来说，这样的学习很容易让你从入门到放弃，这不符合认知原理。
                    <br><br>我们的教学根据认知原理重塑，详细到无需思考仅需照做，第一件事就是让你学习做出完成作品。
                  </h5>
                </div>
              </div>

              <div class="col-md-6">
                <div class="image-container">
                  <!-- 实在找不到类，样式写在表单里-->
                  <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fg02h3qy53j31b30z1wi9.jpg">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="section section-features">
          <div class="container">
            <div class="row">

              <div class="col-md-4 col-md-offset-1 col-md-push-6">
                <div class="section-description">
                  <h2 class="title">学习游戏化</h2>
                  <h5 class="description">为什么学习不可以像游戏一样，让人沉迷上瘾呢？
                    <br><br>课程内容，将被设计成不同的策略、竞技、对抗游戏，让大家通过游戏速成新技能。
                  </div>
                </div>
                <div class="col-md-6 col-md-pull-5">
                  <div class="image-container">
                    <!-- 实在找不到类，样式写在表单里-->
                    <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg02glp0h3j310b0m5jvk.jpg">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="section section-features">
            <div class="container">
              <div class="row">

                <div class="col-md-4 col-md-offset-1">
                  <div class="section-description">
                    <h2 class="title">全程辅导</h2>
                    <h5 class="description">一切的学习均是社交。
                      <br><br>认知科学认为，越是社会化的学习，你能获取信息量越多，理解得越深。
                      <br><br>我们不定期邀请牛人分享，通过线下聚会、及线上社群进行社会化学习，学习的过程与同学交流切磋。
                      <br><br>同时，老师以及助教会全程答疑。
                    </h5>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="image-container">
                    <!-- 实在找不到类，样式写在表单里-->
                    <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fg02gidqsbj314010bn0k.jpg">
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="section section-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="title text-center">现在开始认知升级！</h2>
                  <h4 class="description text-center">现在报名将获得得到知识卡一份。</h4>
                  <div class="row">
                    <div class="text-center">
                      <%= link_to "/", class: "btn btn-danger btn-round" do %>
                      现在就报名
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
