# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2ed00847971a68d95b037033c2d4a58539cb4dbfd825f92b5ff2b843bf7ba4dbc0583ec7d75bbfa2b3a2e438761042a28e18863ecfb8eca4fb1c0b5ef99ec175

test:
  secret_key_base: afe5d32c0045c668469910495910d6cda1d10558dcb7861f5d5402377849f136499f65259be2c82585df852202ecf8ece2736ad05c411e1a58409c41b3bd119d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
